apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-vuyhazgs
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-vuyhazgs:88b30eee0abc24e831b206981e0166c66933059b@sha256:abc49ea186d3f29ed896a787a43a382b319f848613fe1d5ba92ef6b84ad1ebfb
        name: container-image  
